<form>
    <mat-form-field>
        <span matPrefix> </span>
        <input type="text" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
        <!-- <button matSuffix mat-button><img src="assets/images/search.png"></button> -->
    </mat-form-field>
    <span>Current Search Radius : </span><b class="gridSizeValue">{{gridsize.value}} km</b>
    <mat-slider #gridsize (change)="updateSetting($event)" step="0.5" min="0.5" max="6"></mat-slider>
    <!-- <mat-slider #gridsize thumbLabel [displayWith]="formatLabel" (change)="updateSetting($event)" step="0.5" min="0.5" max="6"></mat-slider> -->
    <br/>
    {{search}}
</form>