<!-- if condition needed to be added if <app-header></app-header> -->
<app-shopheader></app-shopheader>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 LEFT special_LEFT text-center d-flex align-items-center">
            <div class="container special_case_0">
            <h3>My Shop Profile</h3>                
            </div>
        </div>
        <div class="col-12 col-sm-6 RIGHT special_case_1 text-center d-flex align-items-center">
            <div class="container">
                <h3>Do DO DA DA</h3>  
            </div>
        </div> 
    </div>
</div>
