<!-- if condition needed to be added if <app-shopheader></app-shopheader> -->
<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 LEFT special_LEFT text-center d-flex align-items-center">
            <div class="container special_case_0">
            <h3>Profile</h3>                
            </div>
        </div>
        <div class="col-12 col-sm-6 RIGHT special_case_1 text-center d-flex align-items-center">
            <div class="container">
                <div class="content">
                    <img src = "assets/images/profile.png">
                    <h4>User Details</h4>
                    <div class="details">
                        <table>
                            <tr>
                              <td class="l">Registered Name</td>
                              <td class="r"> - </td>
                            </tr>
                            <tr>
                              <td class="l">Registed Mobile Number</td>
                              <td class="r"> - </td>
                            </tr>
                            <tr>
                                <td class="l">Registered Email</td>
                                <td class="r"> - </td>
                            </tr>
                            <tr>
                                <td class="l">Is A Seller ?</td>
                                <td class="r"> No </td>
                            </tr>
                          </table>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>